body {
  background-color: #DFD3C3;
}

h1 {
  color: #5C3D2E;
}

h3 {
  color: #5C3D2E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
